@model dynamic
<div class="col-md-3">
    <label for="@Model.id" class="form-label">@Model.label</label>
    <input type="@Model.type" id="@Model.id" name="@Model.id" class="form-control" value="@Model.value" />
</div>